<div ngClass="page-block">
  <h1 ngClass="page-title">Add Words</h1>

  <input #textInput ngClass="text" (change)="onChangeWords(textInput.value)" />
  <button ngClass="submit-button" (click)="onAddWords()">Add</button>

  <div ngClass="page-link-block">
    <span ngClass="page-link" (click)="goToPage('recently-added')">Recently Added</span>
    <span ngClass="page-link" (click)="goToPage('go')">Go</span>
    <span ngClass="page-link" (click)="goToPage('settings')">Settings</span>
  </div>
</div>
