$info-data-color: rgb(255, 176, 176);

.info {
  margin-top: 25px;
  width: fit-content;
  border: 5px solid $info-data-color;
  border-radius: 5px;
  background-color: $info-data-color;
  padding: 10px;

  .info-name {
    font-size: 22px;
    margin-bottom: 5px;
  }

  .info-item {
    .info-key {
      font-weight: bold;
    }
  }
}
