$info-data-color: rgb(208, 255, 218);

.info-name {
  font-size: 22px;
  margin-bottom: 5px;
}

.info-block {
  display: inline-block;
  vertical-align: top;
  margin-top: 25px;
  margin-right: 25px;
  border: 5px solid $info-data-color;
  border-radius: 5px;
  background-color: $info-data-color;
  padding: 10px;

  .info-item {
    span {
      margin-right: 10px;
    }

    .info-key {
      font-weight: bold;
    }
  }
}
