<!DOCTYPE html>

<html>

<head>
  <title>Create RSS feed</title>
  <meta charset="utf-8">
</head>

<body>
  <form>
    <input type="text" name="url" placeholder="url">
    <button type="submit" formmethod="POST">Create</button>
  </form>
  <br />

  <div><%=result %></div>
  <br />

  <a href="../">Back</a>
</body>

</html>