<!DOCTYPE html>

<html>

<head>
  <title>Home</title>
  <meta charset="utf-8">
</head>

<body>
  <ul>
    <li>
      <a href='/create'>Create RSS feed by URL</a>
    </li>

    <li>
      <a href='/show-urls'>Show URLs that we subscribed to</a>
    </li>

    <li>
      <a href='/show-documents'>Show documents we recieved</a>
    </li>
  </ul>
</body>

</html>