<!DOCTYPE html>

<html>

<head>
  <title>Show URLs</title>
  <meta charset="utf-8">
</head>

<body>
  <% for (let i = 0; i < data.length; i++) { %>
  <div><%=data[i].address %></div>
  <br />
  <% } %>

  <br />
  <br />
  <a href="../">Back</a>
</body>

</html>