<div ngClass="page-block">
  <h1 ngClass="page-title">Settings</h1>

  <form [formGroup]="model">
    <p ngClass="select-name">Language</p>
    <select formControlName="language" [value]="language" ngClass="select-dropdown">
      <option value="ru">Russian</option>
      <option value="es">Spanish</option>
    </select>
  
    <p ngClass="select-name">Number of words</p>
    <select formControlName="numberOfWords" [value]="numberOfWords" ngClass="select-dropdown">
      <option>5</option>
      <option>10</option>
      <option>15</option>
      <option>20</option>
    </select>
  </form>
  
  <div ngClass="page-link-block">
    <span ngClass="page-link" (click)="goToPage('recently-added')">Recently Added</span>
    <span ngClass="page-link" (click)="goToPage('go')">Go</span>
    <span ngClass="page-link" (click)="goToPage('add-words')">Add Words</span>
  </div>
</div>